<div class="topics">
    <div class="topics__header">
      <h2>Navigation</h2>
    </div>
    <ul class="topics__list">
      <li>
        <a href="{% url 'manage-vaccine' %}" class="active">Manage Vaccine</a>
      </li>
      <li>
        <a href="{% url 'view-vaccine-order' %}" class="active">View Order</a>
      </li>
      <li>
        <a href="{% url 'to-receive-order' %}" class="active">To Receive Order</a>
      </li>
      <li>
        <a href="{% url 'track-expired-stock' %}" class="active">Track Expiry and Return</a>
      </li>

    </ul>
  </div>